* {
    font-family: 'Open Sans', sans-serif;
}

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    min-height: 50%;
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.logo-container {
    width: 50%;
    display: flex;
    justify-content: start;

    align-items: center;
}

.logo-container img {
    width: 86.041px;
    height: 40px;
    object-fit: cover;
}

.logo-container h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.nav-item-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-item-container a {
    margin-right: 32px;
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-left: 100px;
}

.btn-section {
    width: 362px;
    /* height: 56px; */

    margin-right: 10px;
}

.btn-section button {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: none;


}

.btn-section span {
    align-items: center;

}

.btn-section i {
    margin-left: 15px;
    width: 33.916px;
    padding: 12px 0px;
    align-items: center;
    height: 24px;
}

/* banner section start hare */

.banner-section {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    background: #FFF;
}

.bannner-information {
    width: 50%;
    background-image: url("/images/Group\ 14.png");
    background-position: 100%;

}

.bannner-information h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.bannner-information h1 {
    font-size: 80px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-decription {

    margin-bottom: 10px;
}

.banner-decription p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.btn-first {
    display: inline-flex;
    padding: 13px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: none;
    margin-right: 10px;
}

.btn-second {
    display: inline-flex;
    padding: 13px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
}


.bannner-img-container {
    width: 50%;
    background: #FFF;
}

.bannner-img-container img {
    height: 100%;
    width: 100%;
}

/* banner section end hare */
/* banner section 2 start hare */

section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.section-container {
    display: flex;
    max-width: 1300px;
    margin: 0 auto 100px;
}

.section-description {
    text-align: end;
    margin-top: 20px;
}

.section-description h3 {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.section-description p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 5px;
}

.section-description .btn {
    display: inline-flex;
    padding: 15px 30px;
    font-size: 20px;
    gap: 10px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: none;
    margin-top: 15px;
}

.section-description h6 {
    color: #534C64;
    font-size: 22px;
    font-weight: 700;
    margin-top: 0px;
}

/* banner section 2 end hare */

/* card section start hare */
.card-title h2 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 15px;
}

.card-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.card-title p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.card {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px auto 80px;
}

.image-container {
    position: relative;
    width: 300px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    border-radius: 10px;

}

.overlay p {
    color: white;
    font-size: 24px;
}

.image-container:hover .overlay {
    opacity: 1;
}

/* card section end hare */

/* movie card section start hare */

.movie-card {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.movie-description {
    height: 50%;
    align-items: center;
}

.movie-description h2 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    
}

.movie-description p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.movie-img {
    height: 50%;
}

.movie-img img {
    height: 100%;
    width: 100%;
}


/* movie card section end hare */

.review-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;

}
.single-review{
    flex-basis: 300px;
    /* background-color: #e893cf; */
    padding: 10px;
    display: flex;


}

.single-review img{
    width: 30px;
    height: 30px;
    margin-right:15px ;
}
.top-review{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}